.container__content
  display: flex
  & .content__poster
    margin-right: 64px
  & img
    max-width: 300px
    max-height: 500px
  & .genre
    & span
      display: inline-flex
      margin-right: 8px
    & span:last-child
      margin-right: 0
  & .span-detail
    & span
      color: white
  & span
    font-family: "Fira Sans"
    font-size: 20px
    font-weight: bold
    display: block
  & .content__caption
    max-width: 600px
  & .ant-rate-star-first .anticon
    color: #fadb14 !important

@media screen and (max-width: 480px)
  .container__content
    flex-wrap: wrap
  .ant-rate-star:not(:last-child)
    margin-right: 4px
  .content__poster
    margin-bottom: 16px

@media screen and (min-width: 767px) and (max-width: 1024px)
  .container__content .content__caption
    max-width: 335px