@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap')

header
  box-shadow: 0 4px 16px rgba(0,0,0, 0.1)
  margin-bottom: 104px
  & .header__container
    text-align: center
    padding: 32px 0
    max-width: 400px
    flex-wrap: wrap
    justify-content: center
    margin: 0 auto
    & a
      & span
        color: rgb(255, 102, 0)
        font-family: 'Fira Sans', sans-serif
        font-display: swap
        font-weight: 700
        display: inline-block
        letter-spacing: 4px
        overflow: hidden
        font-size: 52px
        max-width: 30px
        width: 30px
        transition: .7s
        @media screen and (max-width: 480px)
          font-size: 24px
          width: 15%
          max-width: 100%
          letter-spacing: 1px
        @media screen and (min-width: 767px) and (max-width: 1024px)
          font-size: 36px
          letter-spacing: 1px
          width: 20%
          max-width: 100%
      @media screen and (max-width: 480px)
        display: flex
        justify-content: center
      @media screen and (min-width: 767px) and (max-width: 1024px)
        display: flex
        justify-content: center
  & a:hover span:nth-child(1)
    max-width: 125px
    width: 125px
    @media screen and (max-width: 480px)
      width: 15%
      max-width: 100%
    @media screen and (min-width: 767px) and (max-width: 1024px)
      width: 20%
      max-width: 100%
  & a:hover span:nth-child(2)
    max-width: 150px
    width: 150px
    @media screen and (max-width: 480px)
      width: 15%
      max-width: 100%
    @media screen and (min-width: 767px) and (max-width: 1024px)
      width: 20%
      max-width: 100%
  & a:hover span:nth-child(3)
    max-width: 120px
    width: 120px
    @media screen and (max-width: 480px)
      width: 15%
      max-width: 100%
    @media screen and (min-width: 767px) and (max-width: 1024px)
      width: 20%
      max-width: 100%
  & span
    font-family: 'Fira Sans', sans-serif
    font-display: swap
    display: block
    color: rgb(255, 102, 0)
    font-weight: bold

@media screen and (max-width: 480px)
  header
    margin-bottom: 32px